#app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #444444;
    margin: 42px;
}

.form {
    text-align: left;
}

.card-title {
    text-align: center ;
}

.card-subtitle {
    text-align: right;
}

.card-text {
    text-align: left;
}



.card {
    box-shadow: 3px 5px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

.card:hover {
    box-shadow: 6px 10px 16px 0 rgba(0,0,0,0.2);
}

.note {
    padding: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #555555;
    text-align: left;
    padding-left: 18px;
    padding-top: 4px;
}
